@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Glory';
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: gray;
    margin: 0;
    background-image: url(./assets/børn.png);
    background-size: contain;

 }
 
 .clock {
    position: relative;
    width: 240px;
    height: 240px;
    border: 16px solid gray;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 20px 20px 0px rgba(0,0,0,.5);
    background-image: url(./assets/lort.png);
    background-size: contain;
 }
 
 .clock-face {
    height: 100%;
    width: 100%;
    position: relative;
 }
 
 .hand {
    position: absolute;
    width: 50%;
    background: black;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
 }
 
 .circle {
    width: 24px;
    height: 24px;
    background: white;
    border: 4px solid #232020;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
    border-radius: 50%;
 }
 
 .secHand {
    height: 2px;
    border-radius: 1px;
    background: black;
 }
 
 .minHand {
    height: 4px;
    border-radius: 4px;
 }
 
 .hourHand {
    height: 10px;
    border-radius: 4px;
    width: 35%;
    left: 15%;
 }