@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

header{
    display: grid;
    place-items: center;
    height: 12vh;
    background: black;
    color: white;
    /* den sidte er hvor fedtet den skal være. Den første er x-aksen, den anden er y-aksen*/
    text-shadow: 0 0 px gray;
}

h1{
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    place-items: center;
    height: 80vh;
    
}

#activity{
    width: 80vw;
    height: 60vh;
    border: 1px solid rgb(37, 36, 36);
    border-radius: 1rem;
    background: lightslategray;
    box-shadow: 0 0 16px 12px lightgray;
    padding: 4rem;
}
footer{
    height: 8vh;
    display: grid;
    place-items: center;
    
}

button{
    color: white;

}