@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto';
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    background: rgb(0, 69, 38);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

#about{
    background: rgb(192, 40, 66);
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 90vh;
    display: grid;
    grid-template-rows: 90vh 10vh ;
    transition: .8s ease-in-out;


}

#about h2{
   display: grid;
    place-items: center;
    cursor: pointer;
}

#about .content{
    padding-top: 20vw;
    background-color:rgb(179, 29, 29) ;
    
}

.aboutContent{
    grid-template-columns: 2fr 6fr;
    display: grid;

}

#hvaler{
    background: rgb(72, 105, 72);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 90vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    transition: .8s ease-in-out;

}
#hvaler h2{
    display: grid;
    place-items: center;
    cursor: pointer;
}
#hvaler .content{
    padding: 20vw;
    background-color:rgb(92, 94, 92) ;
}

.example{
    display: grid;
    grid-template-columns: 6fr 2fr;
}
#endpointH{
    height: 3rem;
    background: white;
    border: 1px solid lightcyan;
    display: grid;
    align-content: center;
    padding-left: 2rem;
}
#submitH{
    height: 3rem;
    display: grid;
    place-items: center;
    background:black ;
    color: white;
    cursor: pointer;
}

.json{
    width: 100%;
    height: 20vh;
    background: white;
    margin-top: .5rem;
    border: 1px solid lightcyan;
    padding: 2rem;
}

.intro{
    height: 3rem;
    display: grid;
    place-items: center;
    color: black;
}