@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Besley';
}




body{
    display: grid;
    grid-template-rows: 1fr 10fr 2rem;
    height: 100vh;
    width: 100vw;
    transition: .3s ease-in-out;
    


}

#button{
    color: black;
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    position: right;

}

#button2{
    color: black;
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
    transition:all .3s ease-in-out;
    position: right;

}


#button2:hover{
    transform:scale(2,1);
    border-radius: 2rem;
    background-color: rgba(128, 128, 128, 0.822);
}

#button:hover{
    transform:scale(1.2);
    border-radius: 2rem;
}

header{
    background-color: rgb(187, 3, 3);
    display: grid;
    place-items: center;
    
}

main{
    background-position: bottom;
    background-size: contain;
    display: grid;
    place-items: center;
    transition:all .4s ease-in-out;
    width: 100vw;
}





#button:hover{
    background-color: teal;
}



footer{
    background-color: rgba(128, 128, 128, 0.911);
    height: 50vh;

    
}
#ur{
    display: grid;
    font-size: 10vh;
    align-items: center;
    color: black;


    grid-auto-flow: column;
}