@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
}

header{
    place-items: center;
    display: grid;
    border: black;
    height: 10vh;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem;
    border-bottom: black solid;
}
