@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    background-color:turquoise ;
    padding: 1rem;
}
div{
    height: 50vh;
    width: 50vh;
    border:4px solid rgba(0, 0, 0, 0.575);
    box-shadow: 10px 0px 10px 2px rgb(43, 40, 40);
    display: grid;
    font-size: 2rem;
    box-shadow: black;
    color: black;
    border-radius: 10%;
    background-image: linear-gradient(#045457,#090979 ,#00ffeb );
    margin: 1rem ;
    padding: 1rem;

}

@keyframes anim{
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
    }
}



