@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button{
    padding: 1rem;

}

.student{
    height: 0vh;
    width: 40vh;
    transition: .5s ease-in-out;
    background-color: red;
    border: 1px solid black;
    background-size: cover;
    display: grid;
    place-items: center;
    color: black;
    font-size: 3rem;

}

.show{
    height: 40vh;
}

header{
    height: 10vh;
    background: black;
    display: grid;
    place-items: center;
    color: rgb(245, 7, 7);

}
h2{
    text-align: center;
    padding-top: 1rem;
}

main{
    height: 90vh;
    position: relative;
    display: grid;
    place-items: center;
}

canvas{
    position: absolute;
    bottom: 0;
}