@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

main{
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 2rem;
    margin: 2rem;
}

.card{
    height: 50vh;
    width: 50vh;
    border:4px solid rgba(0, 0, 0, 0.575);
    box-shadow: 10px 0px 10px 2px rgb(43, 40, 40);
    display: grid;
    font-size: 2rem;
    box-shadow: black;
    color: white;
}

.card:hover{
    transform: 1.5;
}