
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Besley';

}

body{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

header{
    background-color: rgba(255, 0, 0, 0.863);
    display: grid;
}

main{
    background-color: black;
    display: grid;
}

footer{
    background-image: url(./assets/glad.png);
    display: grid;
}