@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Glory';
}

body{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    background-image: url('./assets/glad.png');
}
header{
    display: grid;
    transition: all .3s ease-in-out;
}
main{
    display: grid;
    transition: all .3s ease-in-out;
}


footer{
    display: grid;
    transition: all .3s ease-in-out;
    
}

#timer{
    background-color: black;
    color: aquamarine;
    transition: all .3s ease-in-out;
    justify-content: end;
    align-items: end;
    
}

#min{
    background-color: yellow;
    color: black;
    transition: all .3s ease-in-out;
    justify-content: end;
    align-items: end;
}

#sek{
    background-color: red;
    color: black;
    transition: all .3s ease-in-out;
    justify-content: end;
    align-items: end;
}

/*justify-content: end;
    align-items: flex-end;*/