@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&family=Roboto:ital,wght@1,100;1,900&display=swap');
body{
    background-color: gray;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0rem;
    display: grid;
    place-items: center;
}
/* brug command shift slash til kommentarer i css */

h1{
    border: 2px solid black;
    margin:0;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Roboto';
    color:rgba(104,9,21,255);
    text-align: center;


}

h2{
    border: 20px black;
    margin: 0;
    padding:1rem;
    

}
.boks{
    border: 8px solid black;
    width: 50vw;
    padding: 1rem;
    font-family:Georama;
    font-size: 2rem;
    color: rgb(230, 48, 48);
}

p{
    color: teal;
}