@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    position: fixed;
    height: 14vh;
    color: white;
    background-color: rgb(36, 49, 165);
    display: grid;
    width: 100vw;
    place-items: center;
}

main{
    position: fixed;
    top: 10vh;
    padding: 2rem;
    height: 86vh;
    
}

#save-button{
    font-weight: bold;
    
}

