@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}


main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    gap: .1rem;
    place-items: center;
    overflow: hidden;
}
.card{
    height: 8rem;
    width: 100%;
    border-radius: 1rem;
    background: radial-gradient(rgb(13, 98, 126), black);
    
}

@keyframes anim{
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
    }
}