@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
}
#info{
    border: black;
    z-index: 5;
    position: fixed;
    color: white;
    right: 2rem;
    bottom: 2rem;
}



