@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Besley';
}

body{
    height:100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    background-size: cover;
    
}
header{
    gap: 2rem;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;

}

.menu{
    display: grid;
    place-items: center;
    color: white;
    padding: 1rem;
    border: 1px solid rgb(214, 18, 18);
    border-radius: 1rem;
    transition:all .3s ease-in-out;
}
.menu:hover{
    transform:scale(1,1);
    border-radius: 1rem;
    background-color: rgba(223, 24, 24, 0.822);
}
main{
    background-color:rgba(255, 0, 0, 0.925);
    display: grid;
    grid-auto-flow: column;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;

}

.page{
    width: 100vw;
    display: grid;
    place-items: center;
    scroll-snap-align:center;
}


footer{
    background-color: rgb(255, 251, 0);
    display: grid;
    place-items: center;
}
.footertext{
    color: teal;
    background-color: tomato;
    padding: 1rem;
    border: 1rem;
    border-radius: 40%;
    place-items: center;
}
.page div{
    place-items: center;
    display: grid;
    width: 40vw;   
}