@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}
/* */
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#meme{
    height: 50vh;
    width: 30vw;
}
main{
    place-items: center;
    display: grid;
    background-color: rgb(74, 72, 72);
    height: 80vh;
    grid-auto-flow: column;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    

}
#info{
    border: 2px solid black;
    border-radius: .5rem;
    height: 40vh;
    width: 50vw;
    display: grid;
    place-items: center;
    
}

.headers{
    place-items: center;
    justify-content: center;
    display: grid;
    align-items: center;
    width: 100vw;
}

header{

    background-color: rgb(32, 36, 36);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    
}

.menu{
    display: grid;
    place-items: center;
    color: white;
    padding: 1rem;
    border: 2px solid rgb(238, 229, 229);
    
}

footer{
    background-color: rgb(32, 36, 36);
    color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

#thriller{
    width: 100px;
    height: 100px;
    margin-left: 20rem;
    border:2px solid rgb(241, 203, 144);
    border-radius: 1rem;
}

.page{
    width: 100vw;
    display: grid;
    place-items: center;
    scroll-snap-align:center;
}

.page div{
    place-items: center;
    display: grid;
    width: 40vw;
    
}